body {
  &:after {
    content: ''
    display: block
    height: 100vh
    width: 100%

    background: url('./img/DSC_0241.jpeg')
    background-repeat: no-repeat
    background-size: cover
  }
}

.k1-postlisting {

}

.k1-button {
  display: inline-block
  padding: 1rem 0.5rem
  color: #222;
  background: #fff;

  &.active, &:hover, &:focus {
    background: #222;
    color: #fff;
  }
}

.site-footer {
  .k1-container {
    display: flex
    justify-content: center
    align-items: center
  }
}
